.button--outline {
  display: inline-block;
  padding: 1px 26px;
  line-height: 33px;
  text-transform: uppercase;
  letter-spacing: 2px;
  // transition: all 300ms linear;
  text-align: center;
  color: #cecece;
  background: transparent;
  border: 2px solid #cecece;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", Helvetica, sans-serif;

  &:hover {
    background: #cecece;
    color: #1c1c1c;
  }
}
