// body,
// html {
//   background: #fff;
// }

.notion-default {
  color: rgb(210, 210, 210);
}

.notion-brown {
  color: brown;
}

.notion-orange {
  color: orange;
}

.notion-yellow {
  color: yellow;
}

.notion-green {
  color: green;
}

.notion-blue {
  color: blue;
}

.notion-purple {
  color: purple;
}

.notion-pink {
  color: pink;
}

.notion-red {
  color: red;
}

.notion-default_background {
  background-color: rgb(210, 210, 210);
}

.notion-gray_background {
  background-color: gray;
}

.notion-brown_background {
  background-color: brown;
}

.notion-orange_background {
  background-color: orange;
}

.notion-yellow_background {
  background-color: yellow;
}

.notion-green_background {
  background-color: green;
}

.notion-blue_background {
  background-color: blue;
}

.notion-purple_background {
  background-color: purple;
}

.notion-pink_background {
  background-color: pink;
}

.notion-red_background {
  background-color: red;
}
