@font-face {
  font-family: "Gilroy Light";
  src: url("/fonts/gilroy-334AE8_0_0.eot");
  src: url("/fonts/gilroy-334AE8_0_0.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy-334AE8_0_0.woff2") format("woff2"),
    url("/fonts/gilroy-334AE8_0_0.woff") format("woff"),
    url("/fonts/gilroy-334AE8_0_0.ttf") format("truetype");
}

body,
p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gilroy Light", Helvetica, sans-serif;
}

code,
.code {
  font-family: monospace;
}

:root {
  --font-title: "Gilroy Light", Helvetica, sans-serif;
  --font-default: "Roboto", Helvetica, sans-serif;
  --font-mono: monospace;
}
