.burger {
  width: 26px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #242634;
    transform: translateZ(0);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  }

  &::before {
    transform-origin: top left;
    top: 0;
  }

  &::after {
    transform-origin: bottom left;
    bottom: 0;
  }
}

.burgerActive {
  // stylelint-ignore-next-line
  @extend .burger;

  &::before {
    transform: translate(4px, -4px) rotate(45deg) translateZ(0);
  }

  &::after {
    transform: translate(4px, 4px) rotate(-45deg) translateZ(0);
  }
}
